.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.createButton, .deleteButton {
	background-color:#6cc784;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #4dc757;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
  height: 35px;
  width: 80px;
	text-decoration:none;
  margin: 20px 1em 0 5px;
}

.deleteButton {
  background-color: #800000;
  border:1px solid #B22222;
}

.deleteButton:hover {
	background-color: #FF6347;
}
.deleteButton:active {
	position:relative;
	top:1px;
}

.createButton:hover {
	background-color:#5cbf2a;
}
.createButton:active {
	position:relative;
	top:1px;
}

.inputTask {
	width: 300px;
	font-size: 14px;
	height: 31px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
  margin: 2px 1em 0 5px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
